/*default font size*/
html {
  font-size: 16px;
}

/*default background color is magenta*/
body {
  background-color: hsl(300, 76%, 72%); /*magenta*/
}

/*background turns lavender in 500px windows, magenta for smaller than 500px*/
@media screen and (min-width: 500px) {
  body {
    background-color: lavender;
  }
}

/*set size for h1 text*/
h1 { 
   font-size: 5vw;
}

/*margin for whole page*/
* {
    margin: 0.5pt;
}

/*highlight function*/
.highlight {
    background-color: yellow;
}

/*turns h3, h4 text to magenta color*/ 
h3, h4 {
  color: lightblue;
}

/*for fill out this form banner*/
#one {
   background-color: rgb(128, 0, 0) ; /*maroon*/
  color: #00FF00; /*lime*/ 
}

/*list items' fontsized to be a lil smaller*/
li {
  font-size: 80%;
}

/*agenda items are list items in class a, they'll be lightgreen*/
li[class="a"] {
    background-color: lightgreen;
}

/*link texts turn grey when you hover over them*/
a:hover {
    color:grey;
} 

/*turns text that is highlighted into red color*/ 
.highlight p {
    color: red
}

/*border line on top of list elements*/
ul > li {
    border-top: 2px solid red;
} 

/*for Here is What you Missed*/
h1 + p {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: .5em;
}

/*hotpink box to showcase general sibling combinator*/
h2 ~ p {
    font-weight: lighter;
    background-color: hotpink;
    color: #fff;
    padding: .5em;
}

/*turns evil members' names orange*/
p.evil {
    color: orange;
}

  
/*flex container is for the members who attended*/
.flex-container {
  display: flex;
  
 flex-direction: row;
 flex-wrap: wrap;
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: lightorange;
  padding: 0.2pc;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
