* {
    margin: 0.5pt;
}

.highlight {
    background-color: yellow;
}

h1, h4 {
  background-color: hsl (300, 76%, 72%); 
  color: #FFFFFF;
}

#one {
   background-color: rgb(128, 0, 0) ; 
  color: #FFFFFF;
}

li {
  font-size: 80%;
}

li[class="a"] {
    background-color: lightgreen;
}

a:hover {
    color:grey;
} 

.highlight p {
    color: red
}

ul > li {
    border-top: 2px solid red;
} 

h1 + p {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: .5em;
}

h2 ~ p {
    font-weight: lighter;
    background-color: hotpink;
    color: #fff;
    padding: .5em;
}

p.evil {
    color: orange;
}

.flex-container {
  display: flex;
  
 flex-direction: row;
 flex-wrap: wrap;
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: lightblue;
  padding: 5px;
  width: 200px;
  height: 9pc;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
