* {
    margin: 0.7;
}

.highlight {
    background-color: yellow;
}

h1, h4 {
  background-color: hsl (300, 76%, 72%); 
  color: #FFFFFF;
}

#one {
   background-color: rgb(128, 0, 0) ; 
  color: #FFFFFF;
}

li {
  font-size: 80%;
}

li[class="a"] {
    background-color: lightgreen;
}

a:hover {
    color:hotpink;
} 
